/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #0a0a0a;
    line-height: 1.6;
}

header {
    background-color:goldenrod;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(245, 243, 243);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1c1d1c;
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    
}

ol {
    margin-left: 20px;
}

img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.back-to-home {
    display: inline-block;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.back-to-home:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Media Queries */
@media (max-width: 600px) {
    header {
        padding: 20px 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px;
        padding: 15px;
    }

    img {
        max-width: 100%;
    }
}
